
@include define('project-fonts') {

  /* _____ FONTS _____ */

  @include importFont('arcade', 'arcade', 'arcade');
}



@font-face {
    font-family: 'arcade';
    src: url('../fonts/arcade/arcade.eot');
    src: url('../fonts/arcade/arcade.eot?#iefix') format('embedded-opentype'),
    url('../fonts/arcade/arcade.woff') format('woff'),
    url('../fonts/arcade/arcade.ttf') format('truetype'),
    url('../fonts/arcade/arcade.svg#Sri-TSCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
